@import "mixins";
@import "vars";

body {background: #f1f1f1!important;}

header {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 3px 0 rgba(74,74, 74,.21);
}

@media (min-width: 374px) and (max-width: 767px) {
  header {
    position: relative;
    height: 250px;
  }

  .logo {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .logo_text {
    position: absolute;
    float: left;
    left: 80%;
    font-size: 1em;
  }
  #search {
    position: absolute;
    width: auto;
    top: 30%;
    right: 10%;
  }
.navigation {
  display: flex;
}
.btn_1 {
    position: relative;
    display: inline-block;
    top: 130px;
    right: 185px;
  }

  .container {
    display: block;
  }
  #container > .row > .col-8 {width: 100%}
  #aside {
padding: 10px;
float: right;
width: 100%;
}
}
@media (min-width: 276px) and (max-width: 375px) {
  header {
    position: relative;
    height: 250px;
  }

  .logo {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .logo_text {
    position: absolute;
    float: left;
    left: 110%;
    font-size: 1em;
  }
  #search {
    position: absolute;
    width: auto;
    top: 30%;
    right: 10%;
  }
.navigation {
  display: flex;
}
.btn_1 {
    position: relative;
    display: inline-block;
    top: 130px;
    right: 185px;
  }

  .container {
    display: block;
  }
  #container > .row > .col-8 {width: 100%}
  #aside {
padding: 10px;
float: right;
width: 100%;
}
}

@media (min-width: 767px) and (max-width: 1000px) {
  .navigation  {
  display: flex;
  }
  .btn_1 {
      display: inline-block;
      position: relative;
      right: 170px;
      height: 40px;
      top: 30px;
    }
    #search {
      position: relative;
      bottom: 20%;
      right: 10%;
    }
    #container > .row > .col-8 {width: 100%}
    #aside {
  padding: 10px;
  float: right;
  width: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1281px) {
  #search {
    position: relative;
    right: 40%;;
  }
}


  header div .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid $borderColor;
    transition: all .8s ease-in-out;
  }

  header div .logo:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }

  .logo_text {
    font-size: 1.8em;
    margin-left: 10px;
    line-height: 100%;
    font-family: 'Suez One', sans-serif;
    display: inline-block;
    position: relative;
    top: 18px;
    font-weight: bold;
  }

.logo_text small {
     font-size: 0.8em;
     display: block;
     color: #9c3737;
     font-weight: bold;
  }

  header .navigation {
    margin-top: 25px;
  }

  #search {
    margin-top: 25px;
    border: 2px solid silver;
  }

  input {
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
  }
header .btn {border: 1px solid silver}

.jumbotron {
  background-color: #9a2f2d!important;
  border: 2px solid #5f1012;
  margin-bottom: 50px;
}

.image {
  width: 600px;
  height: auto;
}

.articles h3 {
  font-size: 2em;
  color: #404040;
}

.card {
  margin-bottom: 30px;
  margin-right: 5%;
  float: left;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(171,171,171);
    background-color: rgba(171,171,171, 0.9);

    h2 {
      color: $borderColor;
      position: relative;
      top: 20%;
      right: -10%
    }
}

.overlay-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin: 0 10%;
}

.overlay .closebtn {
    top: 28%;
    right: -10%;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border: $borderColor;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}



  #loadMore {

    align-items: center;
    width: 200px;
  }


  #aside {
      padding: 10px;
      float: right;

      .card-block {
        padding: 20px;
        background-color: #205e6e;
        border-radius: 10px;

      }
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  background: #f9f9f9;
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  border-radius: 12px 12px 0 0;
  padding: 30px 0;
}
